@layer base {
  :root {
    /* colors */
    --white: #ffffff;
    --green: #333d29;
    --coffee: #43281c;
    --vanilla: #f1e3d3;
    --lemon: #fbf2c0;
    --mocha: #7f4f24;
    --tan: #ddb892;
    --blue: #3e80b6;

    /* fonts */
    --decorative: "Montserrat", sans-serif;
    --sans: "Open Sans", sans-serif;

    /* font scale */
    --base-size: 1.2rem;
    --scale: 1.25;
    --xl-font-size: calc(var(--lg-font-size) * var(--scale));
    --lg-font-size: calc(var(--h1) * var(--scale));
    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: var(--base-size);
    --sm-font-size: calc(var(--base-size) / var(--scale));
    --xs-font-size: calc(var(--sm-font-size) / var(--scale));
    /* Generate sizes, element styles, and classes for h1, h2, h3, body. Generate sizes for h4-h6, a small size, and a large size (classes not needed, just variables).
    See https://codepen.io/jen4web/pen/KKGpKBM as an example */

    /* other variables */
    --radius: 5px;
  }

  /* add border box sizing to the page */
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /* using the above variables and the HTML specified above, write CSS to style headings, text, links, images, figures, etc. */
  body {
    font-family: var(--sans);
    line-height: 1.5;
    background-color: var(--vanilla);
    color: var(--coffee);
    margin: 0;
    padding: 0;
  }
  h1, h2, h3, .h1, .h2, .h3 {
    font-weight: 400;
    font-family: var(--decorative);
    margin: 0;
  }
  h1,.h1 {
    font-size: var(--h1);
    line-height: 1;
    margin-bottom: var(--h2);
  }
  h2,.h2 {
    font-size: var(--h2);
    line-height: 1.1;
    margin-bottom: var(--h3);
  }
  h3,.h3 {
    font-size: var(--h3);
    line-height: 1.2;
    margin-bottom: var(--h4);
  }
  img {
    max-width: 100%;
    /* NOTE: this putst a radius on svgs and icons as well as images */
    border-radius: var(--radius);
  }
  figure {
    margin: 0;
  }
  a {
    color: var(--green);
  }
  a:hover {
    text-decoration: none;
  }
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  header {
    background-color: var(--coffee);
    padding: 1rem 0;
    border-bottom: 20px double var(--tan);
  }
  header h1 {
    color: var(--vanilla);
    text-align: center;
  }

  /* styles for navigation */
  nav {
    display: none;
    opacity: 0;
    transition: opacity 1s, display 1s, translate 1s;
    transition-behavior: allow-discrete;
    translate: 100% 0;
    background-color: var(--tan);
    position: absolute;
    top: 0;
    right: 0;
    font-size: var(--base-size);
    border-radius: 0 0 0 var(--radius);
    z-index: 10;
    ul {
      display: flex;
      padding: 0.5rem;
      flex-wrap: wrap;
      list-style: none;
      flex-direction: column;
    }
    a {
      text-decoration: none;
      color: var(--coffee);
    }
    li + li {
      border-top: 1px solid var(--coffee);
      margin-block-start: 1rem;
      padding-block-start: 1rem;
    }
  }
  [aria-controls="primary-nav"] {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    img {
      border-radius: 0;
    }
  }
  [aria-expanded="true"] ~ nav {
    display: block;
    opacity: 1;
    translate: 0 0;
    @starting-style {
      opacity: 0;
      translate: 0 -100%;
    }
  }

   /* footer styles */
  footer {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: var(--coffee);
    color: var(--vanilla);
  }
  footer ul {
    list-style-type: none;
    font-size: var(--xs-font-size);
    font-weight: 200;
    padding: 0;
  }
  footer li {
    margin: 0;
  }
  footer li:hover {
    text-decoration: underline;
  }
  .footer-wrapper {
    max-width: 1000px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
  }
  footer section div {
    flex-basis: 10%;
    margin: 1rem 0;
    padding: 0;
  }
  footer section div h3 {
    font-size: var(--sm-font-size);
    text-transform: uppercase;
    margin-bottom: 0;
  }
  footer a {
    text-decoration: none;
    color: var(--vanilla);
  }
  footer .socials ul {
    display: flex;
    flex-flow: row;
    gap: 0.5rem;
  }
  footer .socials img {
    width: 20px;
    height: 20px;
  }

  /* styleguide */
  .fancy-text {
    background: linear-gradient(135deg, var(--mocha) 0%, var(--tan) 100%);
    background-repeat: no-repeat;
    background-size: 100% 35%;
    background-position: 0 90%;
  }
  .colors div {
    width: 5rem;
    height: 4rem;
    display: inline-block;
    padding: 1rem 0;
    margin: 1rem;
    text-align: center;
  }
  .white {
    background-color: var(--white);
  }
  .green {
    background-color: var(--green);
    color: var(--vanilla);
  }
  .coffee {
    background-color: var(--coffee);
    color: var(--vanilla);
  }
  .vanilla {
    background-color: var(--vanilla);
    border: 2px solid var(--coffee);
  }
  .lemon {
    background-color: var(--lemon);
  }
  .mocha {
    background-color: var(--mocha);
    color: var(--vanilla);
  }
  .tan {
    background-color: var(--tan);
  }
  .blue {
    background-color: var(--blue);
    color: var(--vanilla);
  }
}
